{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block body %}
<h1>Mes adresses </h1>

<h2>Dashboard de vos adresses</h2>
<a id="add_address" href="{{ path('account_add_address') }}">Ajouter une nouvelle adresse</a>
<hr>

{% if app.user.addresses | length == 0 %}
<p>Aucune adresse renseignée</p>
<p>
    <a id="add_address" href="">Ajouter une adresse <i class="fas fa-map-marker-alt"></i></a>
</p>
{% endif %}

<div class="row">

    {% for address in app.user.addresses %}

    <div class="card-address" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ address.name }}</h5>
            <p class="card-text">{{address.address }}</p>
            <p class="card-text">{{address.postalCode }}</p>
            <p class="card-text">{{address.city }} - {{address.country }}</p>
            <div class="buttons-modif-suprr">
                <a href="{{ path('account_modify_address', {'id': address.id })}}" class="btn btn-primary">--- <i class="far fa-edit"> ---</i></a>
                <a href="{{ path('account_delete_address', {'id': address.id })}}" class="btn btn-danger">--- <i class="far fa-trash-alt"> ---</i></a>
            </div>
        </div>  
    </div>

    {% endfor %}

</div>

{% endblock %}
