{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block stylesheets %}
			
{% endblock %}

{% block body %}

<h1>Articles</h1>
<hr>

<div class="row">

    {% for product in products %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/{{product.illustration}}" alt="{{product.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text desc">{{product.subtitle}}</p>
                </div>
                <span class="d-flex justify-content-between ">
					<a href="{{ path("product_show", {'slug' : product.slug}) }}" class="btn btn-primary">Voir le produit</a>
					<p>{{ (product.price / 100)|number_format(2, ',', '.') }}€</p>
				</span>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}
